In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("DC_Properties.csv")
data = data.drop(columns="Unnamed: 0")
data = data.drop_duplicates()

C:\Users\ASUS\AppData\Local\Programs\Python\Python36-32\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.loc[:3]

,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,1972,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,1972,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,1984,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,1984,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW

In [4]:
data= data.dropna(subset= ["ASSESSMENT_NBHD","PRICE"])

In [5]:
data.shape

(97839, 48)

In [6]:
data.columns

Index(['BATHRM', 'HF_BATHRM', 'HEAT', 'AC', 'NUM_UNITS', 'ROOMS', 'BEDRM',
       'AYB', 'YR_RMDL', 'EYB', 'STORIES', 'SALEDATE', 'PRICE', 'QUALIFIED',
       'SALE_NUM', 'GBA', 'BLDG_NUM', 'STYLE', 'STRUCT', 'GRADE', 'CNDTN',
       'EXTWALL', 'ROOF', 'INTWALL', 'KITCHENS', 'FIREPLACES', 'USECODE',
       'LANDAREA', 'GIS_LAST_MOD_DTTM', 'SOURCE', 'CMPLX_NUM', 'LIVING_GBA',
       'FULLADDRESS', 'CITY', 'STATE', 'ZIPCODE', 'NATIONALGRID', 'LATITUDE',
       'LONGITUDE', 'ASSESSMENT_NBHD', 'ASSESSMENT_SUBNBHD', 'CENSUS_TRACT',
       'CENSUS_BLOCK', 'WARD', 'SQUARE', 'X', 'Y', 'QUADRANT'],
      dtype='object')

In [7]:
data["ZIPCODE"].min()

20001.0

In [8]:
print(len(data["NATIONALGRID"].unique()))
print(len(data["STATE"].unique()))
print(len(data["ZIPCODE"].unique()))
print(len(data["ASSESSMENT_NBHD"].unique()))
print(len(data["ASSESSMENT_SUBNBHD"].unique()))

57545
2
24
56
122

In [9]:
data["PRICE"].min()

1.0

In [10]:
data["PRICE"].max()

137427545.0

In [11]:
most_expensive_house_neighborhoods=data[data["PRICE"]==data["PRICE"].max()]["ASSESSMENT_NBHD"].unique()
most_expensive_house_neighborhoods

array(['Cleveland Park'], dtype=object)

In [12]:
cheapest_house_neighborhoods=data[data["PRICE"]==data["PRICE"].min()]["ASSESSMENT_NBHD"].unique()
cheapest_house_neighborhoods

array(['Michigan Park', 'Congress Heights', 'Wakefield', 'Old City 2',
       'Forest Hills'], dtype=object)

In [13]:
len(cheapest_house_neighborhoods)

5

In [14]:
expensive_houses=data[data["PRICE"]==data["PRICE"].max()]
len(expensive_houses)

106

In [15]:
data.groupby(["ASSESSMENT_NBHD"])["PRICE"].mean().sort_values(ascending=False)

ASSESSMENT_NBHD
Cleveland Park                  8.664447e+06
Massachusetts Avenue Heights    2.843360e+06
Central-tri 3                   2.803065e+06
Berkley                         1.475449e+06
Spring Valley                   1.437520e+06
Kent                            1.303143e+06
Georgetown                      1.242148e+06
Woodley                         1.205040e+06
Burleith                        9.161758e+05
North Cleveland Park            8.148067e+05
American University             7.826738e+05
Chevy Chase                     7.784790e+05
Palisades                       7.712343e+05
Kalorama                        7.637449e+05
Crestwood                       7.588491e+05
Hawthorne                       7.562643e+05
Foxhall                         7.527684e+05
Colonial Village                7.304522e+05
Capitol Hill                    6.798746e+05
Garfield                        6.715342e+05
Observatory Circle              6.479867e+05
Wesley Heights                  6.350419e+05
Central-tri 1                   6.254234e+05
Forest Hills                    6.151526e+05
Mt. Pleasant                    5.652891e+05
Shepherd Heights                5.627847e+05
Barry Farms                     5.373894e+05
Old City 2                      5.320759e+05
Ledroit Park                    5.254076e+05
Wakefield                       5.214880e+05
Old City 1                      5.199488e+05
Chillum                         5.057711e+05
16th Street Heights             5.018281e+05
Columbia Heights                4.994910e+05
Foggy Bottom                    4.749099e+05
Glover Park                     4.685924e+05
Eckington                       4.604238e+05
Brookland                       4.100676e+05
Fort Lincoln                    4.086066e+05
Petworth                        4.011495e+05
Takoma Park                     3.970597e+05
Brightwood                      3.841288e+05
Michigan Park                   3.834957e+05
Southwest Waterfront            3.811313e+05
Woodridge                       3.498612e+05
Trinidad                        3.278022e+05
Riggs Park                      3.178910e+05
Brentwood                       2.536692e+05
Lily Ponds                      2.374335e+05
Randle Heights                  2.345933e+05
Anacostia                       2.334346e+05
Hillcrest                       2.324849e+05
Fort Dupont Park                2.282869e+05
Congress Heights                2.225617e+05
Marshall Heights                2.207447e+05
Deanwood                        2.130390e+05
Name: PRICE, dtype: float64

In [16]:
import matplotlib.pyplot as plt
import numpy as np
from matplotlib import colors
from matplotlib.ticker import PercentFormatter

In [17]:
plt.figure(figsize=(16,8))
target_count = data.groupby(["ASSESSMENT_NBHD"])["PRICE"].mean()
target_count.plot(kind='bar', title='Neighborhood vs Mean Sale Price',grid=True, color='c')
plt.xlabel('Neighborhoods')
plt.ylabel('Price ($)')
plt.tight_layout()

In [18]:

plt.savefig("price_neighborhood.png")
plt.show()

In [19]:
data["PRICE"].describe()

count    9.783900e+04
mean     7.205690e+05
std      4.818861e+06
min      1.000000e+00
25%      2.400000e+05
50%      3.999900e+05
75%      6.500000e+05
max      1.374275e+08
Name: PRICE, dtype: float64

In [20]:
data["ASSESSMENT_NBHD"].describe()

count          97839
unique            56
top       Old City 2
freq           11682
Name: ASSESSMENT_NBHD, dtype: object

In [23]:
df=pd.DataFrame()
df['ASSESSMENT_NBHD']=data['ASSESSMENT_NBHD'].astype('category').cat.codes
df["PRICE"]=data["PRICE"]

from scipy.stats.mstats import kruskal
allOf =[k.PRICE.array for k in [ df[df["ASSESSMENT_NBHD"]==i]  for i in df.ASSESSMENT_NBHD.unique()] ]
F, p = kruskal(  *allOf )                      
F, p

C:\Users\ASUS\AppData\Local\Programs\Python\Python36-32\lib\site-packages\scipy\stats\mstats_basic.py:1219: RuntimeWarning: overflow encountered in int_scalars
  H = 12./(ntot*(ntot+1)) * (sumrk**2/ngrp).sum() - 3*(ntot+1)
C:\Users\ASUS\AppData\Local\Programs\Python\Python36-32\lib\site-packages\scipy\stats\mstats_basic.py:1222: RuntimeWarning: overflow encountered in long_scalars
  T = 1. - sum(v*(k**3-k) for (k,v) in iteritems(ties))/float(ntot**3-ntot)

(2020058.3005678204, 0.0)

In [24]:
from scipy import stats
stats.shapiro(allOf[0])
len(allOf[0])

C:\Users\ASUS\AppData\Local\Programs\Python\Python36-32\lib\site-packages\scipy\stats\morestats.py:1660: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

11682